@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
.main{
    margin: 0 auto;
    text-align: center;
    font-family: 'Space Mono', monospace;


}
.main .img{
    display: block;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;

}
img{
        box-shadow: 0 0 10px rgb(34, 255, 4),
            0 0 20px rgba(27, 245, 0, 0.81),
            0 0 30px rgba(137, 240, 124, 0.3),
            0 0 40px rgba(137, 240, 124, 0.2);
    border-radius: 20px;
}
.main p{
    width: 350px;
    text-align: center;
    margin: 0 auto;



}